<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Vue</title>
</head>
<body>
    <!-- <div id="app">
        <p>{{ title }} - {{ author }} - {{ age }}</p>
        <button v-on:click=" age++">Get Older</button>
        <button v-on:click=" age--">Get Younger</button>
        <button @click="title = 'The title has changed.'">Change title</button>
      </div>
   -->


      <!-- two way
      <div id="two-way-binding">
        <p>{{ message }}</p>
        <input v-model="message"/>
      </div> -->


      <!-- <div id="conditional-rendering">
        <span v-if="seen">Now you see me</span>
      </div> -->


      <!-- <div id="books">
        <div v-if="showBooks">
            <p>{{ title }} - {{ author }} - {{ year }}</p>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button> -->
        

        <!-- <div id="list-rendering">
            <ol>
                <li v-for="todo in todos">{{todo.text}}
                </li>
            </ol>
        </div> -->



      <!-- FIGURE 8 -->
      <script src="app.js"></script>

      <!-- FIGURE 11 -->
      <script src="twoway.js"></script>

      <!-- FIGURE 14 -->
      <script src="conditionalif.js"></script>

      <!-- FIGURE 16 -->
      <script src="books.js"></script>

      <!-- FIGURE 19 -->
      <script src="vfor.js"></script>




    
</body>
</html>